*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

header{
    width:100%;
    background-image:linear-gradient(rgba(14,13,13,0.557),rgba(14,13,13,0.557)), url(../Web-dev/Image.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

H2{
    text-align: center;
    font-size:6vh;
    font-size: 45px;
}

div h3{
    text-decoration: underline;
    text-indent: 30px;
    font-size: 30px;

    
}

div{
    padding-left: 10px;
    white-space:pre-wrap;
    word-wrap: break-word;

}


div form button{
    border: 2px solid black;
    padding:5px 10px;
    color: black;
    background-color:white;
    cursor: pointer;
}


div form button:hover{
    background-color: black;
    color: white;
    transform: translateY(-0.75);

}





